.navbar {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  height: 120px;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1aac83;
  color: #fff;
    
}

#nav, h2 {
    color: #fff;
}

#nav, button {
    border: solid 1px #fff;
}

.postimg {
  width: 100%;
  height: auto;
}